<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand" ng-click="vm.edit_username()">
        <span class="glyphicon glyphicon-home"></span> Events App
      </h2>


<!--       <div class="form-group" ng-show="vm.changing_username">
        <label class="navbar-brand">Username:</label>
        <input type="text" ng-model="vm.user_name" class="form-control">
        <button type="button" class="btn btn-primary" ng-click="vm.save_username()">
        Save
        </button>
      </div> -->
    </div>

    
  </div>
</nav>
